* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(97, 12, 12, 1) 100%);
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}

main {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

section {
  padding: 1rem;
}
